
.DS_Store
*.swp
*.tmp
.*.gz
*.idlk
npm-debug.log
yarn.lock
tsconfig.tsbuildinfo
.env
/.idea/workspace.xml
/.claude/worktrees

/IGNORE.md
/WIP.md
/ignore/
/src/examples/experiments

node_modules
**/dist/**
