
.DS_Store
*.swp
*.tmp
.*.gz
*.idlk
npm-debug.log
yarn.lock
/.idea/workspace.xml
tsconfig.tsbuildinfo
.env

/IGNORE.md
/WIP.md
/.claude/worktrees
/src/examples/experiments

/ignore/

node_modules
**/dist/**
